.pagination_buttons {
  display: flex;
  list-style: none;
  height: 90px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  user-select: none;
  padding-right: 10px;
  z-index: 1;
}

.page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
}

.page_container .icon {
  position: relative;
  background: #0c000057;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.page_container .icon::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  transform: rotate(45deg);
}

.page_container .tooltip {
  position: absolute;
  top: -30px;
  background: #fff;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  z-index: 1;
}

.page_container .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.page_container .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.page_container .icon:hover span,
.page_container .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.page_container .page_pokedex:hover,
.page_container .page_pokedex:hover .tooltip,
.page_container .page_pokedex:hover .tooltip::before {
  background: #ff0000;
  color: #fff;
}

.pagItems {
  font-size: 18px;
  margin: 0 10px;
}
