@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: #744edecd;
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: #58acfa79;
}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.content_select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
